<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>User Management</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1 class="header-text">User Management</h1>
    <form class="form" method="post" action="/users/">
        <div class="flex">
            <label>
                <input class="input" type="text" name="nombre" placeholder="" required>
                <span>Nombre</span>
            </label>

            <label>
                <input class="input" type="text" name="apellido" placeholder="" required>
                <span>Apellido</span>
            </label>
        </div>  
                
        <label>
            <input class="input" type="text" name="dni" placeholder="" required>
            <span>DNI</span>
        </label> 
            
        <label>
            <input class="input" type="text" name="fecha_nacimiento" placeholder="" required>
            <span>Fecha de Nacimiento</span>
        </label>
        
        <label>
            <input class="input" type="text" name="direccion" placeholder="" required>
            <span>Dirección</span>
        </label>
        
        <button class="button" type="submit">
          <span class="top-key"></span>
          <span class="text">Create User</span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </button>
    </form>
    <br>
    <h2 class="header-text">Users</h2>
    <ul>
        {% for user in users %}
        <li>
            {{ user.nombre }} {{ user.apellido }} (DNI: {{ user.dni }})
            <a href="/users/{{ loop.index0 }}/update/">Update</a>
            <form method="post" action="/users/{{ loop.index0 }}/delete/?_method=DELETE">
                <input type="submit" value="Delete" class="button">
            </form>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
