<!DOCTYPE html>
<html>
<head>
    <title>Crear Usuarios</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1 class="header-text">Crear Usuarios</h1>
    <form class="form" method="post" action="/">
        <div class="flex">
            <label>
                <input class="input" type="text" name="nombre" placeholder="" required>
                <span>Nombre</span>
            </label>

            <label>
                <input class="input" type="text" name="apellido" placeholder="" required>
                <span>Apellido</span>
            </label>
        </div>  
                
        <label>
            <input class="input" type="text" name="dni" placeholder="" required>
            <span>DNI</span>
        </label> 
            
        <label>
            <input class="input" type="text" name="fecha_nacimiento" placeholder="" required>
            <span>Fecha de Nacimiento</span>
        </label>
        
        <label>
            <input class="input" type="text" name="direccion" placeholder="" required>
            <span>Dirección</span>
        </label>
        
        <button class="button" type="submit">
          <span class="top-key"></span>
          <span class="text">Create User</span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </button>
    </form>
    <br>
    <h2 class="header-text" >Usuarios</h2>
    <div class="user-list">
        {% for user in users %}
        <div class="user-card">
            <div class="user-details">
                <p><strong>Nombre:</strong> {{ user.nombre }}</p>
                <p><strong>Apellido:</strong> {{ user.apellido }}</p>
                <p><strong>DNI:</strong> {{ user.dni }}</p>
                <p><strong>Fecha de Nacimiento:</strong> {{ user.fecha_nacimiento }}</p>
                <p><strong>Dirección:</strong> {{ user.direccion }}</p>
                <div class="user-actions">
                    <button class="button">
                        <a href="/{{ loop.index0 }}/update/">
                            <span class="top-key"></span>
                            <span>Editar</span>
                            <span class="bottom-key-1"></span>
                            <span class="bottom-key-2"></span>
                        </a>
                    </button>
                  
                    <form method="post" action="/{{ loop.index0 }}/delete/?_method=DELETE">
                        <button type="submit" class="button">
                            <span class="top-key"></span>
                            <span >Borar</span>
                            <span class="bottom-key-1"></span>
                            <span class="bottom-key-2"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
