<!DOCTYPE html>
<html>
<head>
    <title>Update User</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1 class="header-text">Update User</h1>
    <div id="error-message" style="color: red;"></div>
    <div class="form">
        <form id="update-form">
            <div class="flex">
                <label>
                    <input class="input" type="text" name="nombre" value="{{ user.nombre }}" required>
                    <span>Nombre</span>
                </label>

                <label>
                    <input class="input" type="text" name="apellido" value="{{ user.apellido }}" required>
                    <span>Apellido</span>
                </label>
            </div>  
                    
            <label>
                <input class="input" type="text" name="dni" value="{{ user.dni }}" required>
                <span>DNI</span>
            </label> 
            
            <label>
                <input class="input" type="text" name="fecha_nacimiento" value="{{ user.fecha_nacimiento }}" required>
                <span>Fecha de Nacimiento</span>
            </label>
            
            <label>
                <input class="input" type="text" name="direccion" value="{{ user.direccion }}" required>
                <span>Dirección</span>
            </label>
            
            <button type="button" onclick="updateUser()" class="button">Update User</button>
        </form>
    </div>
    <script>
        function updateUser() {
            console.log("Updating user...");
            const form = document.getElementById("update-form");
            const formData = new FormData(form);
            const jsonData = {};
            formData.forEach((value, key) => {
                jsonData[key] = value;
            });
            fetch(`/users/{{ user_id }}/update/`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(jsonData),
            })
            .then((response) => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then((data) => {
                console.log("Update successful", data);
                window.location.href = "/users/";
            })
            .catch((error) => {
                console.error("Update failed", error);
                const errorMessageElement = document.getElementById("error-message");
                errorMessageElement.textContent = "Error updating user: " + error.message;
            });
        }
    </script>   
</body>
</html>
